version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "*"
    schedule:
      interval: "daily"
  
  - package-ecosystem: "gradle"
    directory: "/"
    target-branch: "*"
    schedule:
      interval: "daily"
