### Gradle
.gradle/
build/

# Kotlin Compiler Daemon
.kotlin/

# Paperweight
run/
/test-plugin.settings.gradle.kts

/*-api/
!/plazma-api/
/plazma-api/build.gradle.kts

/*-server/
!/plazma-server/
/plazma-server/src/minecraft/
/plazma-server/build.gradle.kts
