[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides = 
ij_wrap_on_typing = false

[{*.bash,*.sh,*.zsh}]
indent_size = 2
indent_style = tab
tab_width = 2
ij_shell_binary_ops_start_line = false
ij_shell_keep_column_alignment_padding = false
ij_shell_minify_program = true
ij_shell_redirect_followed_by_space = false
ij_shell_switch_cases_indented = true
ij_shell_use_unix_line_separator = true
